@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}
body{
    background-color: #000000;
}
a{
    text-decoration: none;
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    width: 1440px;
    margin: auto;
}

.left a{
    display: flex;
    font-size: 24px;
    align-items: center;
}

#logo{
    padding-right: 10px;
}

nav ul{
    display: flex;
    list-style: none;
    flex-grow: 0.2;
    justify-content: space-between;
}

nav ul, .left{
    display: flex;
    align-items: center;
}

nav{
    display: flex;
    padding: 0px 100px;
    justify-content: space-between;
}

header{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(96, 96, 96, 0.5), rgba(91, 91, 91, 0.5)),
                      url(images/hero_tads.jpg); 
    background-size: cover;
    color: white;
}

.hero{
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero h1{
    font-size: 60px;
}

.hero p{
    font-size: 24px;
    padding: 15px 0;
}

#BotaoPPC{
    background-color: #00420c;
    color: white;
    height: 50px;
    width: 150px;
    border: none;
    margin: 0 auto;
}

#atuacao {
    background-color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paragrafos h1{
    font-size: 32px;
}

.paragrafos{
    width: 800px;
    text-align: center;
}

.paragrafos p{
    padding: 35px 0;
}

.traco{
    width: 150px;
    border-top: black solid 2px;
    margin-bottom: 80px;
}

.imagemAtuacao, .imagemAtuacao2{
    height: 350px;
}

#atuacaoImages{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imagemAtuacao{
    padding: 20px;
}

.imagemAtuacao2{
    flex-grow: 0.6;
    padding: 20px;
}

.divisoes{
    padding: 125px 0;
}

#Destaque{
    background-color: #e9e2e2;
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.DestaquesLogo{
    display: flex;
    width: 1440px;
    text-align: center;
    justify-content: space-around;  
}

#ADP{
    width: 350px;
}

#AD, #DS{
    width: 320px;
}

.DestaquesLogo h1{
    font-size: 20px;
    padding: 25px 0;
}

#mercadoTrab{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paragrafos2{
    width: 800px;
    text-align: center;
}

.paragrafos2 p{
    padding: 20px 0 50px;
}

.areaAtuacao{
    font-size: 18px;
}

#novidades{
    background-color: #e9e2e2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form{
    display: flex;
    width: 800px;
    height: 50px;
    justify-content: space-between;
}

#inputEmail{
    flex-grow: 0.6;
    padding: 0 10px;
}

#submit{
    flex-grow: 0.3;
    color: #ffffff;
    background-color: #00420c;
    border-radius: 5px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color:#414a4f;
    height: 180px;
    color: #ffffff;
}
